/* src/Home.css */

.hero-section {
    background-color: #FDF0F0; /* Very light pink */
    color: #132043; /* Dark blue for text */
    text-align: center;
    padding: 50px 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  