/* NavBar Base Styling */
.nav-wrapper {
  position: fixed;
  background: none; 
  width: 100%;
  z-index: 100;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: auto; 
  box-shadow: none !important;
  border-bottom: none;
}

/* Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Logo Container */
.logo-container {
  padding-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Logo Image */
.logo-container img {
  width: 150px; 
  height: auto; 
  max-width: 100%;
}

/* Typewriter Effect */
.typewriter {
  font-size: 1.8rem;
  font-weight: bold;
  color: #F1B4BB; 
  margin-top: 0px;
  min-height: 24px; 
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
  .logo-container img {
    width: 125px; 
  }
  .typewriter {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .logo-container img {
    width: 100px; 
  }
  .typewriter {
    font-size: 1.1rem;
  }
}